@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolata";
  src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: "Lora";
  src: url('/fonts/Lora-Italic-VariableFont_wght.ttf');
}